<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

  <link rel="stylesheet" href="/css/style.css">
  <title>JobSearch</title>
</head>

<body>
  {{!-- main page or front page of application --}}
  <header>
    <h2><a href="/"><i class="fas fa-code"></i>
        JobSearch</a></h2>
    <nav>
      <ul>
        <li>
          <h3><a href="/">Home</a></h3>
        </li>
        <li>
          <h3><a href="/jobs">All Jobs</a></h3>
        </li>
        <li>
          <h3><a href="/jobs/add">Add Job</a></h3>
        </li>
      </ul>
    </nav>
  </header>

  {{{body}}}
</body>

</html>