<section id="search" class="search-wrap">
  <p class="control-group" style="display:grid;justify-content:center;font-size:50px;">Find A Job</p>
    <form action="/jobs/search" class="search-form">
       <h3 class="control-group">Job Role</h3>
        {{!-- <i class="fas fa-search"></i> --}}
        <input class="box-style" type="search" name="role" placeholder="Accountant, Architect, Engineer, Doctor, etc...">
        <h3 class="control-group">City:</h3> 
        <input class="box-style" type="search" name="city" placeholder="Enter Nearest City Name">
        <input class="search-btn" type="submit" value="Search">
    </form>
</section>
      